/*
Custom Css
*/
@charset "UTF-8";
@font-face { font-family: Quicksand-Regular; src: url("../fonts/Quicksand-Regular.ttf"); } 
@font-face { font-family: Quicksand-SemiBold; src: url("../fonts/Quicksand-SemiBold.ttf"); } 

/* #a1c09dd9 #c5b484d9 */
.title {
    font-family: Quicksand-SemiBold !important;
    color: #a1c09dd9 !important;
    text-decoration: none;
    font-size: 1.4rem !important;
    margin-top: 10px;
}

.logo {
    width: 90px;
}

.menu-item {
    color: #c5b484d9 !important;
    font-family: Quicksand-SemiBold;
}

.contact-info-container {
    & > i {
    /* Styles for the direct child */
    color: blue;
    }
    & a {
    /* Styles for any descendant, including direct children */
    font-size: 18px;
    }
}

#slider1 {
    width: 60%;
    margin-left: 20%;
    height: auto;
    align-self: center;
}

h1, h2, h3, h4 {
    font-family: Quicksand-SemiBold !important;
    margin-bottom: 20px !important;
}

.main-title {
    color: #c5b484d9;
}

.slider-title {
    color: #a1c09dd9;
}

.menu-item {
    font-family: Quicksand-SemiBold !important;
}

li, a {
    font-family: Quicksand-Regular !important;
    color: gray !important;
}

p {
    font-family: Quicksand-Regular !important;
    color: gray; 
}

.category {
    width: 300px;
    height: auto;
    border: 2px solid #c5b484d9;
    border-radius: 200px;
    margin-bottom: 20px;
    background-color: white;
}

.categoryMarquee {
    width: 80px;
    height: auto;
    border: 2px solid #c5b484d9;
    border-radius: 40px;
    margin-bottom: 20px;
    background-color: white;
}

.category-container {
    text-align: center;
    margin-bottom: 30px;
}

.category-header {
    color: #a1c09dd9;
    font-size: 30px ;
    background-color: rgba(255, 255, 255, 0.1);
}

.card-container {
    background-size: cover;
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../img/FONDO.jpg");
}

.category-description {
    font-size: 15px !important;
    margin-top: 10px;
}

.category-name {
    color: #a1c09dd9;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px !important;
}

.stores-images {
    width: 200px;
    height: auto;
}

.footer-header {
    color: #c5b484d9;
}

.social-network-icon {
    color: #a1c09dd9;
}

.icon-border {
    border-color: #a1c09dd9 !important;
}

.company-icons {
    color: #a1c09dd9 !important;
}

.how-is-works {
    background-color: #F7F7F7;
}

.carousel {
    background-color: #F7F7F7 !important;
}

.step-images {
    width: 200px;
    height: auto;
    width: 60%;
    margin-left: 20%;
}

.marquee {
    width: 100%;
	line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee div {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
.marquee div img {
    margin-left: 15px
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.subtitle {
    font-family: Quicksand-SemiBold !important;
    color: #a1c09dd9;
    font-size: 25px;
    margin-top: 10PX;
}

li {
    margin-left: 40px;
}